#jhcontent{
	/* text-align : center; */
	margin : auto;
}
#button input[type="submit"], #button input[type="button"]{
	text-align : center;
	background-color: black;
	color : white;
}
#list input[type="button"]{
	text-align : center;
	background-color: black;
	color : white;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
  width : 90%;
  margin : 0 auto;
}
table {
	margin : auto;
}
#jhtitle,#jhcontent{
	font-weight: bold;
}
hr {
	width : 90%;
}
#etc {
	color : grey;
	float: center;
}
#etc td {
	text-align: center;
}