body {
  font-family: Arial, sans-serif;
  font-weight : bold;
  text-align: center;
}

form {
  text-align: center;
  width: 300px;
  margin: 0 auto; 
}

form label {
  display: block;
  text-align: center;
  padding-left: 5px;
  font-size : 18px;
}

form input[type="text"],
form input[type="password"],
form input[type="tel"],
form input[type="email"],
form select {
  font : bold;
  width: 80%;
  box-sizing: content-box;
  padding: 5px;
}

form input[type="checkbox"] {
  margin-right: 5px;
}

p {
  color: red;
  text-align: center;
}

h2 {
  text-align: center;
}
#tel {
	font-size : 14px;
	color : grey;
}
input[type="button"],input[type="submit"] {
	background-color: black;
	color : white;
	padding: 8px;
    font-size: 16px;
}

form input[type="text"] {
	margin-right : 5px;
	margin-bottom : 5px;
}
