table{
	border-collapse : collapse;
	/* border : 1px solid black; */
	width : 90%;
	height : 80px;
	margin : auto;
}
body {
	font-family: "Arial", sans-serif;
}
#notice{
	text-align : center;
	font-size : 20px;
}
#etc td{
	text-align : left;
	float : left;
	font-size : 15px;
	color : grey;
}
#title{
	text-align : left;
	font-size : 20px;
	color : black;
	padding-top: 5px;
}
#search{
	text-align : center;
}
#title a:hover {}
#q{
	size : 20;
}
td{
	padding : 10px 5px 10px 5px;
}
#writebtn{
	background-color: black;
	color : white;
}
#searchbtn{
	background-color: black;
	color : white;
	border: none;
}
.btn-log{
	display : inline-block;	
}
hr{
	width : 90%;
}
input[type="button"] {
	text-align : right;
	padding : 5px;
}
.separator {
    border-bottom: 1px solid grey;
    height : 5px;
}
select, input[type="text"], input[type="submit"] {
    padding: 8px;
    font-size: 16px;
}
